asgiref==3.4.1
cffi==1.14.5
click==8.0.1
colorama==0.4.4
cryptography==3.4.7
fastapi==0.65.2
h11==0.12.0
mysql-connector==2.2.9
pycparser==2.20
pydantic==1.8.2
starlette==0.14.2
typing-extensions==3.10.0.0
uvicorn==0.14.0
